@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: 'Questrial', sans-serif;
  background-color:#8D8DAA;
  box-sizing: border-box;
}

::selection{
  background-color: #F56D91;
  color:white
}